extends ./layout

block title
  Pallenge app

block scripts
  script(src="/js/react-with-addons.js")
  script(src="/js/jquery-2.1.1.min.js")
  script(src="/js/build/app.js")

block styles
  link(href="/styles/bootstrap.css", rel="stylesheet")
  link(href="/styles/build/custom.css", rel="stylesheet")

block body
  #app
   .spinner
      .double-bounce1
      .double-bounce2
