firmBlue = #95C3FF
inln =
  float: left

.header
  position: relative
  &-logo
    height: 60px
    background-color: firmBlue
    background-image: url('/images/logo.jpg')
    background-repeat: no-repeat
    background-size: contain
  &-user
    height: 40px
  &-userPic
    display: inline-block
    width: 35px
    height: 35px
    margin-left: 12px
    background-color: wheat
  &-userName
    display: inline-block
    margin-left: 30px
    font-size: 24px
    font-weight: 100
    color: wheat
  &-newButton
    position: absolute
    right: 20px
    top: 30px
    width: 50px
    height: 50px
    font-size: 36px
    border-radius: 50%
    background-color: wheat
    padding: 3px
.app
  position: relative
  &-menu
    padding: 10px 0px

.challengeCard
  width: 100%
  border: 1px solid #919191
  padding: 0
  min-height: 140px
  vertical-align: top
  &:after
    content: ''
    clear: both
  &-img
    {inln}
    background-color: #fff
    background-image: url('/images/horn.jpg')
    background-repeat: no-repeat
    background-size: contain
    width: 120px
    height: 120px
    margin: 7px
  &-info
    {inln}
    margin: 0 7px 7px 7px
    max-width: 170px
  &-title
    font-size: 18px
  &-user
    font-size: 13px
    color: wheat
    text-align: right

.menuLine
  background-color: firmBlue
  & > a
    color: #fff

// Spinner on preload
.spinner
  width: 40px
  height: 40px

  position: relative
  margin: 100px auto

.double-bounce1, .double-bounce2
  width: 100%
  height: 100%
  border-radius: 50%
  background-color: #333
  opacity: 0.6
  position: absolute
  top: 0
  left: 0

  animation: bounce 2.0s infinite ease-in-out

.double-bounce2
  animation-delay: -1.0s

@keyframes bounce
  0%, 100%
    transform: scale(0.0)
    -webkit-transform: scale(0.0)
  50%
    transform: scale(1.0)
    -webkit-transform: scale(1.0)
